.paper {
  padding: 20px; /* Более просторное размещение для содержания */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 350px; /* Немного больше для комфортного ввода */
  border-radius: 20px;
  background-color: #2c2f33; /* Легкий фоновый оттенок */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Более мягкая тень */
  justify-content: center;
}
